.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2em;
    padding-top: 100px;
    background-color: var(--text-color);
    color: var(--primary-color);
}
.contact-heading{
    max-width: 500px;
}
.contacts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.8em;
}
.member-details .flex-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    width: 100%;
}
.flex-socials .social-icons{
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social-icons .member-icon{
    color: var(--text-color);
}

.flex-contact{
    max-width: 300px;
    background-color: var(--light-dark);
    border-radius: 25px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 1px var(--primary-color);
}
.flex-contact img{
    width: 100%;
}
.member-details{
    width: 100%;
}