.cpt-hero-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding-top: 100px;
    background-color: var(--text-color);
    color: var(--primary-color);
}
.cpt-hero-details{
    max-width: 450px;
}
