.blogcom-conta{
    text-align: center;
}

.blogainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}

.flex-blog{
    max-width: 21.875em;
    box-shadow: 1.5px 1.5px 1.5px 1.5px  var(--text-color);
    border-radius: 20px;
}
.blog-img-con{
    width: 100%;
    
}
.blog-img-con img{
    width: 100%;
    /* height: 200px; */
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.blog-details{
    padding: 0px 15px 15px 15px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: start;
}
/* .blog-details .blg-title{
    width: 20px;
    height: 10px;
    background-color: var(--main-color);
} */
.blg-title p{
    border-left: 6px solid green;
    padding-left: 1em;
}
.blog-details .blog-header{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 700;
}
.blog-id{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.5em;
}
.blog-id-item{
    display: flex;
    justify-content: center;
    /* padding: 0px 1px; */
    align-items: center;
    gap: 0.7em;
    box-shadow: 0.5px 0.5px 0.5px var(--text-color);
    /* background-color: var(--text-color); */
}
.blog-id-item > p{
    font-size: 12px;
    
}