.nft-abt-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}
.abt-item{
    width: 400px;
}
.abt-item-img{
    max-width: inherit;
}
.abt-item-img img{
    width: 100%;
}