.nft-collection-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.coll-nft-rgt,
.collect-nft-left
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.coll-nft-below{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.collect{
    box-shadow: 0px 0px 5px var(--text-color);
    padding: 30px;
    border-radius: 20px;
}
.collect-sm{
    box-shadow: 0px 0px 5px var(--text-color);
    padding: 20px;
    border-radius: 20px;
}
