.whyUs-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    background-color: var(--text-color);
    color: var(--primary-color);
}
.cryWys-details,
.cryWys-img
{
    max-width: 400px;
}
.cryWys-img img{
    width: 100%;
}