@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root{
  --primary-color: white;
  --text-color: black;
  --main-color: #36bb91;
}

body{
  background-color: var(--primary-color);
  transition: all 3s;
  font-family: 'Inter', sans-serif;
}

h1{
  color: var(--text-color);
}

.darkmode{
  background-color: black;
  --text-color: white;
}
#dark-mode-toggle{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: red;
}
.container{
  padding: 60px;
}
@media screen and (max-width: 767px){
  .container{
    padding: 30px;
  }
}